<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mimosa Email Verification</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body style="min-width: 800px; min-height: 800px;">
<div style="border-radius: 16px; overflow: hidden; background-color: #141118; color: #EFEFEF; font-family: Arial, sans-serif; ">
    <div style="padding: 20px;" class="header">
        <h1 align="center">Mimosa CMS</h1>
        <p align="center">Email verification</p>
    </div>
    <hr/>
    <div style="padding: 20px;" class="body">
        <p align="center">
            Dear customer, we noticed that you tried to verify your email in our CMS system. To proceed further,
            please
            click on the button below:
        </p>
        <div align="center" style="margin-top: 20px;">
            <a th:href="${verificationLink}" target="_blank">
                <button style="border: none; background: #e8590f; color: #eeeeee; font-family: Arial, sans-serif; font-size: 15px; user-select: none; padding: 13px 36px;"
                        type="button" class="verify-button">Verify
                </button>
            </a>
        </div>
    </div>
</div>
</body>
</html>